.aboutContainer {
    display: flex;
    flex-direction: column;
}

.aboutContainer h1 {
    text-align: center;
}

.aboutContainer img {
    margin: auto;
    margin-bottom: 40px;
}

.aboutContainer p {
    margin-bottom: 20px;
}

.aboutContainer ol {
    margin-left: 40px;
    margin-bottom: 40px;
    margin-top: -10px;
}

.aboutContainer ol li {
    font-weight: 600;
    color: var(--secondary);
}