.main {
    min-height: 100vh;
    padding: 1rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
}

.blogs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.blogItem {
    width: 45%;
}

.main h2 {
    margin: 40px 0;
    font-size: 2rem;
}

.blogs h3 {
    margin: 10px 0;
}

.blogs p {
    color: rgb(25, 25, 25);
}

@media (max-width: 600px) {
    .blogs {
        flex-direction: column;
    }

    .blogItem {
        width: 100%;
    }

    .blogItem img {
        width: 100%;
        height: 200px;
    }

}